<form class="form-inline">
  <label class="sr-only" for="inlineFormInputGroup">friend@email.com</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">Email</div>
    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
