<h1>Have a boss or colleague who sends too many emails?</h1>
<h3>Let them know they are a pain in the ass. Anonymously.</h3>

<form class="form-inline">
  <label class="sr-only" for="inlineFormInputGroup">friend@email.com</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">Email</div>
    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

