<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 text-center">
      <h1>Have a colleague (or boss) who sends too many emails?</h1>
      <p>Let them know they <s>are a pain in the a**</s> should slow down a bit. <span class="highlight">Anonymously</span> ðŸ™ˆ</p>
        <br />
      <%= simple_form_for @invitation, remote: true do |f| %>
        <%= f.input :recipient_email, html: { class: "inlineFormInput" }, placeholder: "colleague1@email.com, colleague2@email.com", label: false %>
        <%= f.button :submit, 'SUBMIT âœ‰ï¸', html: { class: "btn btn-primary send_email_btn" } %>
      <% end %>

  <br class="clear"/>

  <div class="success-container">
    <p class="success-message" style="display:none;"></p>
  </div>

  <!-- Go to www.addthis.com/dashboard to customize your tools --> 

    <br class="clear"/>

  <div class="addthis_inline_share_toolbox"></div>

    </div>
  </div>
</div>

