@import "bootstrap-sprockets";
@import "bootstrap";
@import 'normalize';
@import 'mediaqueries';

$main-font: 'Merriweather Sans', sans-serif;

.container {
  margin-top: 6%;
}


// body {
//  background: url(email.gif) white;
// }

.clear {
  clear: both;
}

h1 {
  text-align: center;
  font-size: 3em;
  line-height: 1.05em;
  font-family: $main-font;
  color: #131516;
  font-weight: 700;
}

p {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.375em;
  font-family: $main-font;
  margin-top: 1.275em;
}

.highlight {
  border-bottom: 2px dotted #fa709a;
}

// Form

form {
  margin-top: 40px;
}

div.input.email.required.invitation_recipient_email {
  padding-right: 0px;
}

input.form-control {
  width: 70%;
  height: 65px;
  border: 2px solid #fa709a;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 40px;
  padding-left: 30px;
  padding-top: 8px;
  float: left;
  margin-left: 2%;
}

input.form-control::placeholder {
  font-size: 18px;
  color: #d5d5d5;
}

.btn {
  padding: 10px 50px; 
  height: 65px;
  border-radius: 40px;
  width: 25%;
  border: none;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%) !important;
  color: #fff;
  font-weight: 700;
  font-family: $main-font;
  float: right;
  margin-right: 2%;
}
.addthis_inline_share_toolbox {
  margin-top: 30px;
}





